<div class="container-fluid">
     <h1 class="center"> The Arena Of Quotes</h1>
     <img src="https://bit.ly/33Uuqdq" height="10%" width="18%" class="img">

     <div class="row">
          <div class="col-md-3">
               <app-quotes-form (addQuote)='addNewQuote($event)'></app-quotes-form>
          </div>
          <div class="col-md-7 ">
               <div class="all-card">
                    <div *ngFor='let quote of quotes;let i=index' class="card-body all">
                         <div class="card-body">
                              <h2 appQuotes class="card-title two">{{quote.name}}</h2>
                              <p class="three">Posted by:{{quote.poster}} on  {{quote.completeDate|date:'dd/MM/yyyy'}}</p>
                              <button class="btn btn-outline-warning four" (click)='toggleDetails(i)'>Check the quote</button>
                              <app-quotes-detail *ngIf='quote.showDescription'  (isComplete)='deleteQuote($event,i)'  [quote]='quote'></app-quotes-detail>
                         </div>
                         
                    </div>
               </div>
              
          </div>
          
         <div class="col-md-2 highlight">
              <h2>Quote with highest vote from the top</h2>
              <div *ngFor='let quote of quotes' >
                   <app-quotes-highlight [quote]='quote'></app-quotes-highlight>
               </div>
              
         </div>
          
         
     </div>

</div>
